/* Page layout */

.page-container {
  margin: 100px 150px 0px 150px
}

.toolbar {
  background-color: rgb(190, 227, 186);
  padding: 5px;
}

.editor {
  margin-bottom: 40px;
}

.page-title {
  margin: 10px;
  margin-left: 30px;
}

.option-boxes {
  display: flex;
  gap: 40px;
}

.comment-display {
  border: solid;
  border-width: 1px;
  background-color: rgb(190, 227, 186);
  padding: 10px;
  width: 400px;
  margin-top: 20px;
  min-height: 10px;
}

.add-user-form {
  border: solid;
  border-width: 1px;
  background-color: rgb(190, 227, 186);
  padding: 10px;
  width: 400px;
  margin-top: 20px;
  min-height: 80px;
}

.add-comment-form {
  border: solid;
  border-width: 1px;
  background-color: rgb(190, 227, 186);
  padding: 10px;
  width: 400px;
  margin-top: 20px;
  height: 60px;
}

.comment-title {
  font-size: 18px;
}

.code-result {
  margin-top: 10px;
  padding: 10px;
  background-color: black;
  color: white;
}

/* Forms */

button {
  border-radius: 0;
  padding: 5px;
  margin: 5px;
}

input {
  margin: 5px;
}


.doc-select {
  margin: 10px 0 10px 0;
}

.user-form {
  margin: 0 0 10px 0;
}

.login-field {
  margin: 5px;
}

select {
  margin: 10px;
}